[submodule "third-party/Vulkan-Headers"]
	path = third-party/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers
[submodule "third-party/imgui"]
	path = third-party/imgui
	url = https://github.com/ocornut/imgui
	branch = v1.89.2
